<mat-card>
    <mat-card-header>
        <mat-card-title><h2><strong>{{title}}</strong></h2></mat-card-title>
        <mat-card-subtitle><h5>{{subtitle}}</h5></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (submit)="tryLogin($event)" novalidate>
            <div *ngIf="loginError"><strong>{{loginErrorMessage}}</strong></div>
            <mat-form-field>
                <input matInput type="text" placeholder="Username" formControlName="username">
                <mat-error *ngIf="username.invalid && (username.dirty || username.touched) && username.errors.required">
                    Username is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
                <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button [disabled]="loginForm.status == 'INVALID'" color="accent">LOGIN</button>
        </form>
    </mat-card-content>
</mat-card>