@import 'theme';

$grey-300: #E0E0E0;

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $grey-300;
}

pa-login {
    mat-card {
        margin: 128px auto auto auto;
        width: 400px;

        mat-card-content {
            form {
                margin: 8px;
                display: grid;
                grid-column: 1;
            }
        }
    }
}

pa-sidebar {
    mat-toolbar {
        mat-icon {
            margin-left: 4px;
        }
        button {
            margin: 16px;
        }
    }
}