@import '~@angular/material/theming';
@include mat-core();

// Light theme
$pa-app-primary: mat-palette($mat-deep-orange, 600);
$pa-app-accent: mat-palette($mat-light-blue);
$pa-app-warn: mat-palette($mat-red);
$pa-app-theme: mat-light-theme($pa-app-primary, $pa-app-accent, $pa-app-warn);

// Dark theme
$pa-app-dark-primary: mat-palette($mat-cyan);
$pa-app-dark-accent: mat-palette($mat-lime, A200, A100, A400);
$pa-app-dark-warn: mat-palette($mat-red);
$pa-app-dark-theme: mat-dark-theme($pa-app-dark-primary, $pa-app-dark-accent, $pa-app-dark-warn);

@include angular-material-theme($pa-app-theme);

.pa-app-dark-theme {
    @include angular-material-theme($pa-app-dark-theme);
}