<mat-sidenav-container [autosize]="isDrawerAutoResize">
    <mat-sidenav mode="side" opened="true" [fixedInViewport]="true" class="mat-elevation-z3">
        <pa-sidebar (onMiniOfDrawer)="setAutoResize($event)"></pa-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <pa-toolbar></pa-toolbar>
        <button mat-raised-button color="accent" (click)="generateToken()">Get Refresh Token</button>
        <button mat-raised-button color="accent" (click)="getSampleData()">Get Sample Data</button>
        <button mat-raised-button color="accent" (click)="getGraphQL()">Get GraphQl</button>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <router-outlet></router-outlet>
        <pa-footer></pa-footer>
    </mat-sidenav-content>
</mat-sidenav-container>