<mat-toolbar color="primary" class="mat-elevation-z4">
    <mat-icon>folder</mat-icon>
    <span *ngIf="isDrawerOpen">&nbsp; Payroll Analytics &nbsp;</span>
    <button *ngIf="isDrawerOpen" mat-icon-button (click)="toggleMiniSidenav()">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</mat-toolbar>
<mat-nav-list>
    <h3 mat-subheader>
        <mat-icon mat-list-icon *ngIf="!isDrawerOpen">remove</mat-icon>
        <span *ngIf="isDrawerOpen">ANALYTICS</span>
    </h3>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Dashboard</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Organization Board</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Company Insight</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Analytics Builder</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>
        <mat-icon mat-list-icon *ngIf="!isDrawerOpen">remove</mat-icon>
        <span *ngIf="isDrawerOpen">HRIS</span>
    </h3>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Employee List</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Import External Data</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>
        <mat-icon mat-list-icon *ngIf="!isDrawerOpen">remove</mat-icon>
        <span *ngIf="isDrawerOpen">TIMEKEEPING</span>
    </h3>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Compile</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Particulars</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">DTR</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Attendance Summary</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Manual Log</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Schedules</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Leave Commutation</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Calendar</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Approval Settings</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Filing History</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>
        <mat-icon mat-list-icon *ngIf="!isDrawerOpen">remove</mat-icon>
        <span *ngIf="isDrawerOpen">PAYROLL</span>
    </h3>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Process</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Payroll Register</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Reports</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Comparison</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Process</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>
        <mat-icon mat-list-icon *ngIf="!isDrawerOpen">remove</mat-icon>
        <span *ngIf="isDrawerOpen">SETTINGS</span>
    </h3>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Hris</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Timekeeping</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Payroll</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Organization</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">User Account</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Bulletin</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>
        <mat-icon mat-list-icon *ngIf="!isDrawerOpen">remove</mat-icon>
        <span *ngIf="isDrawerOpen">DOWNLOADS</span>
    </h3>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Timekeeping</h4>
    </mat-list-item>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Payroll</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>
        <mat-icon mat-list-icon *ngIf="!isDrawerOpen">remove</mat-icon>
        <span *ngIf="isDrawerOpen">EMPLOYEE</span>
    </h3>
    <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line *ngIf="isDrawerOpen">Abcd</h4>
    </mat-list-item>
</mat-nav-list>