<mat-toolbar class="mat-elevation-z4">
    <button mat-icon-button (click)="toggleSearch()">
        <mat-icon *ngIf="!showSearch">search</mat-icon>
        <mat-icon *ngIf="showSearch">close</mat-icon>
    </button>
    <mat-form-field *ngIf="showSearch">
        <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <span *ngIf="!showSearch">&nbsp; {{toolbarTitle}}</span>
</mat-toolbar>